<!DOCTYPE html>
<html>
<head>
	<title>{{ title }} - {{ subtitle }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body id="{{ slug }}">

<nav>
<section>
{{ menu_content }}
</section>
</nav>

<main>
{{ content }}
</main>

<footer>
<section>
<p>
	&copy; {{ current_year }}
	Contenido liberado para el dominio público bajo licencia
	<a target="_blank" rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/">CC zero 1.0</a>
	<br>
	Powered by <a target="_blank" href="https://github.com/sunainapai/makesite">makesite.py</a>
</p>
</section>
</footer>

</body>
</html>
