<!DOCTYPE html>
<html>
<head>
	<title>{{ title }} - {{ subtitle }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="{{ base_path }}/static/css/style.css">
</head>

<body id="{{ slug }}">

<nav>
<section>
	<span class="home">
		<a href="{{ base_path }}/">Home</a>
	</span>
	<span class="links">
		<!-- a href="{{ base_path }}/blog/">Blog</a -->
		<!-- a href="{{ base_path }}/news/">News</a -->
		<!-- a href="{{ base_path }}/contact/">Contact</a -->
		<a href="{{ base_path }}/about/">About</a>
	</span>
</section>
</nav>

<main>
{{ content }}
</main>

<footer>
<section>
<p>
	<a href="https://instagram.com/tcck.uy/">Instagram</a>
	<a href="https://fb.me/tcck.uy">Facebook</a>
	<a href="https://wa.me/59892916460">WhatsApp</a>
	<a href="tel:+59892916460">Phone</a>
</p>
<p>
	&copy; {{ current_year }}
	Contenido liberado para el dominio público bajo licencia
	<a target="_blank" rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/">CC zero 1.0</a>
	<br>
	Powered by <a target="_blank" href="https://github.com/sunainapai/makesite">makesite.py</a>
</p>
</section>
</footer>

</body>
</html>
