<!DOCTYPE html>
<html>
<head>
	<title>{{ title }} - {{ subtitle }}</title>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/static/favicon.png" sizes="any" type="image/png" />
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body id="{{ slug }}">

<nav>
<section>
<span class="home">
	<a href="{{ base_path }}/"><img class="navbar_logo" src="/static/logo.png" alt="Home">&nbsp;{{ subtitle }}</a>
</span>
{{ menu_content }}
</section>
</nav>

<main>
{{ content }}
</main>

<footer>
<section>
<p>
	&copy; {{ current_year }}
	{{ copyright_text }}
	<a target="_blank" rel="license"
	href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0</a>.
	<br>
	Theme from <a target="_blank" href="https://github.com/sunainapai/makesite">makesite.py</a>.
	Built with <a target="_blank" href="https://github.com/jrmsdev/gomks">gomks</a>.
</p>
</section>
</footer>

</body>
</html>
